{% extends "parent.html" %}
{% block name %}Photos{% endblock %}
{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">{% endblock %}

{% block content %} 
{% for photo in photos %}
<form method="POST">
<div class="col-md-9 col-sm-11 d-flex justify-content-center background" style="margin:auto;"  >
  <div class="cards-spacing">
      <div class="card text-center" style="width: 20rem; ">
          <div class="card-header">

              <span class="post-title">
                  {% if current_user.first_name==photo.user.first_name %}
                   your post
                  {% else %}
                  {{photo.user.first_name}}'s post
                  {% endif %}
                </span>
              <span class="post-date">{{photo.date}}</span>
          </div>
          <div class="card-body">
              <img class="card-img-top" src={{photo.path}} alt="Card image cap">
              <p class="card-text likes">{{Like.query.filter_by(photo_id=photo.id).count()}} likes</p>
              <p class="card-text">{{photo.description}}</p>
          </div>
          <div class="card-footer text-muted">
            <button type="button" class="btn btn-dark like" onClick="addlike({{photo.id}})">like</button>
              <input class="form-control comment" type="text" placeholder="Comments...">
          </div>
      </div>
  </div>
</div>
</form>
{% endfor %}


{% endblock %} 
 