<!DOCTYPE html>
<html lang="en">
<head>                          
  <title> {% block name %}parent{% endblock %} </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  crossorigin="anonymous"
/>
{% block link %}{% endblock %}
</head>
<body style="background-color: black; color: rgba(240, 255, 255, 0.74);">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="/post">Post</a>
        <a class="nav-item nav-link" href="/our_post ">Our_Post</a>
        <a class="nav-item nav-link" href="/sign_out">Sign_out</a>
        {% else %}
        <a class="nav-item nav-link" href="/sign_in">Sign_in</a>
        <a class="nav-item nav-link" href="/">Sign_up</a>
        {% endif %}
      </div>
    </div>
  </nav>
  
  {% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
     {% for category,msg in messages %}
         {% if category=='error' %}
         <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{msg}}
        </div>  
         {% else %} 
         <div class="alert alert-success alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{msg}}
        </div>
         {% endif %} 
      {% endfor %}   
  {% endif %}
  {% endwith %}


    {% block content %}  {% endblock %}  

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"    
></script>

</body>
</html>
</body>
</html>
