{% extends "parent.html" %}
{% block name %}Your Photos{% endblock %}
{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">{% endblock %}

{% block content %} 
<h1 style="text-align: center; ">Here is your posts,{{user.first_name}}</h1> 
{% for photo in user.photos %}

<div class="col-md-9 col-sm-11 d-flex justify-content-center background" style="margin:auto;"  >
  <div class="cards-spacing">
      <div class="card text-center" style="width: 20rem; ">
          <div class="card-header">

              <span class="post-title">
                   your post
                </span>
              <span class="post-date">{{photo.date}}</span>
          </div>
          <div class="card-body">
              <img class="card-img-top" src={{photo.path}} alt="Card image cap">
              <p class="card-text likes">{{Like.query.filter_by(photo_id=photo.id).count()}} likes</p>
              <div class="card-text">{{photo.description}}</div>
              {% set comments =Comment.query.filter_by(photo_id=photo.id)%}
              {% for comment in comments %}
              <div class="card-text"> 
              {% if comment.user.id==current_user.id%}
                <b style="font-size: 15px;">Your comment:</b> 
              {% else %}  
                 <b style="font-size: 15px;">{{comment.user.first_name}}:</b> 
              {% endif %}
             <span  style="font-size: 14px;"> {{comment.body}}</span></div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>
</form>

{% endfor %}


{% endblock %} 
 