{% extends "parent.html" %}
{% block name %}Photo{% endblock %} 
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">{% endblock %}
{% block content %} 
{% for photo in user.photos %}
<div class="col-md-9 col-sm-11 d-flex justify-content-center background" style="margin:auto;"  >
  <div class="cards-spacing">
      <div class="card text-center" style="width: 28rem;">
          <div class="card-header">
              <span class="post-title">Your photo</span>
              <span class="post-date">{{photo.date}}</span>
          </div>
          <div class="card-body">
              <img class="card-img-top" src={{photo.path}} alt="Card image cap">
              <p class="card-text likes">0 Likes</p>
              <p class="card-text">{{photo.description}}</p>
          </div>
          <div class="card-footer text-muted">
            <button type="button" class="btn btn-dark like">like</button>
              <input class="form-control comment" type="text" placeholder="Comments...">
          </div>
      </div>
  </div>
</div>
{% endfor %}


{% endblock %} 
 