.cards-spacing{
  margin: 25px 0px 25px 0px;
 /*  top-right-bottom-left*/
}

.post-title{
  float:left;
}
.post-date{
  float:right;
}
.card-text{
  text-align: left;
}
.likes{
  margin-top: 30px;
}
.card{
  box-shadow:1px 1px 20px red ;
  /* x-> right ,y->down* ,blur*/
  border: 1px solid red ;
  color: black;
}
.comment{
  float: left;
  width:75%;
}
.like{
  float: left;
  width:20%;
  margin-right: 2px;
}



